<style type="text/css">
	.blueline
	{
	    display: block;
	    height: 1px;
	    border: 10px;
	    border-top: 1px solid #337ab7;
	    margin: 1em 0;
	    padding: 0; 
	}
</style>
<%= form_tag({controller: "ventas", action: "create"}, method: "post") do %>
	<div class="panel panel-primary" style="max-width:80%;margin-left:auto; margin-right:auto;">
		<div class="panel-heading">Registro de Clientes</div>
		<div align = "right" class = "text-success" style="font-weight:bold;padding-right:10%">
	      Clave: <%= @clave %>
	    </div>
	    <button type="button" class="btn btn-primary" >Cliente</button>
	    <div. class="ui-widget">
	    	<label for="nom_cliente_">Birds: </label>
	    	<%= text_field "nom_cliente", nil,  :class => 'form-control', :style => "width:200px", :placeholder => "Buscar cliente", :id => "nom_cliente" %>
	    </div>
	    <hr class = "blueline"> 
	    <div class = "table-responsive" align = "left">
	    </div>
	</div>
	<% if false %>
		<%= button_tag  "Cancelar", :type => 'submit' %>
	<%end %>
<%end %>
<script type="text/javascript">
	$(function()
	{
	    $( "#nom_cliente" ).autocomplete(
	    {
	    	source: function( request, response )
	    	{
	    		$.ajax( {
	    			url: "../clientes.json",
	    			dataType: "json",
	    			data: {
	           			term: request.term
	          		},
	          		success: function( data )
	          		{
	          			window.data = data;
	          			console.log(data)
	          			var a = new Array();
	          			a.push( {label: "yolo"} );
	            		response( a );
	          		},
	          		error: function()
	          		{
	          			alert('error');
	          		}
	        	});
	    	},
	      	minLength: 2,
	     	 select: function( event, ui )
	     	 {
	     	 	console.log(ui)
	    	    log( "Selected: " + ui.item.value + " aka " + ui.item.id );
	    	 }
	   	});
	})
</script>